
h1 {
   
    text-align: center;
    color: rgb(6, 6, 6);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    margin-top: 50px;
    }

p{
    color: rgb(6, 6, 6);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    border: 1px none;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 10px;
    margin-left: 100px;

}



img{
    width:50%;
    height: auto;
    
    text-align: center;
    padding: 20px;
}

body {
    padding: 50px;
    background-repeat: no-repeat;
    background-color: rgb(238, 249, 237);
    margin-top: 100px;
    margin-bottom: 0px;
    margin-right: 150px;
    margin-left: 100px;
 

}
