/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: var(--mainBgColor);  }

:root{
    --mainTextColor-light:rgb(0, 0, 0);
    --secondaryTextColor-light:rgb(85, 85, 85);
    --mainLinkColor-light:#17a900;
    --mainBorderColor-light:rgb(218, 218, 218);
    --mainBgColor-light:rgb(220, 220, 220);
    --secondaryBgColor-light:rgb(195, 193, 193);

    --mainTextColor-dark:rgb(0, 0, 0);
    --secondaryTextColor-dark:#adb0b1;
    --mainLinkColor-dark:rgb(30, 190,214);
    --mainBorderColor-dark:#2b3031;
    --mainBgColor-dark:#131415;
    
    --mainTextColor:var(--mainTextColor-light);
    --secondaryTextColor:var(--secondaryTextColor-light);
    --mainLinkColor:var(--mainLinkColor-light);
    --mainBorderColor:var(--mainBorderColor-light);
    --mainBgColor:var(--mainBgColor-light);
    --secondaryBgColor:var(--secondaryBgColor-light)

}

mat-dialog-container {
    background-color: rgb(21, 21, 21) !important;
    border-radius: 15px !important;
}

.mat-drawer-container {
    background-color: var(--mainBgColor);
    color: var(--mainTextColor);
    .mat-drawer{
        background-color: var(--secondaryBgColor);
        color: var(--mainTextColor);
    }
}

::ng-deep mat-button-toggle-group{
  outline: none;
}

    .mat-select-value-text {
  color: black !important;
}